*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*HEADER STYLES*/
header{
    height: 3em;
}
img.icon1{
    margin-left: 70%;
}
.icons{
    height: 2em;
    margin: 1%;
}
/*CENTER STYLES*/
div{
    width: 50%;
    height: 80%;
    margin-left: 25%;
    margin-top: 10em;
    margin-bottom: 15em;
}
form{
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center; 
}
input{
    height: 50px;
    width: 48%;
    font-size: 120%;
    text-align: center;
    outline:none;
    transition: all 0.5s;
}
#tel{ 
    font-family: sans-serif;
    -moz-appearance: textfield;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 10px;
    border: 0px solid black;
    box-shadow: 2px 2px 10px black inset;
}
#tel::-webkit-inner-spin-button { 
    display: none;
}
#tel:focus{
    box-shadow: 0 15px 45px black inset;
    transition: all 1s;
}
#send{
    transition: all 1s;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: 0px solid rgb(249, 209, 34);
    background: rgb(230,240,163); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#send:hover{
    box-shadow: 1px 2px 10px white;
    transition: all 0.5s;
}
.num{
    color: white;
    display: inline-block;
    padding-left: 2em;
    font-size: 1.4em;
    text-shadow: 0px 0px 7px rgb(230,240,163);
}
h1{
    color: white;
    margin: 1em;
    text-align: center;
}
p{
    color: white;
    padding: 1em;
    line-height: 2em;
    text-align: center;
}
iframe{
    width: 100%;
}
button{
    margin-bottom: 2em;
    margin-left: 40%;
    padding: 1em;
    font-size: 1em;
    border-radius: 20px;
    background: rgb(230,240,163); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
@media (max-width: 600px) {
    .num{
        color: white;
        display: block;
        padding: 8px;
        font-size: 1.4em;
        text-shadow: 0px 0px 7px rgb(230,240,163); 
    }
    img.icon1{
        margin-left: 25%;
    }
    .icons{
        margin: 5%;
    }   
    div{
        width: 100%;
        height: 80%;
        margin-left: 0;
        margin-top: 10%;
        margin-bottom: 0;
    }
    form{
        margin-top: 6em;
        text-align: center; 
    } 
    #send{
        font-size: 1em;
    }
    #tel{ 
        font-size: 1em;
        font-family: sans-serif;
        -moz-appearance: textfield;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-left: 0;
        border: 0px solid black;
        box-shadow: 2px 2px 10px black inset;
    }
    
}